include ../company/company
include ../company-info/company-info

mixin offers(service)
    a(href="/menuPage?isOwner=true&serviceId="+service._id)
        .offers
            +company(service.logo)
            .offers__info
                .offers__title= service.title
                +company-info(service)
                .offers__down-text
                    each phone in service.phone
                        .offers__text= phone

