@import '../../stylus/vars.styl'

.button
  display inline-block
  text-decoration none
  text-align center
  font-weight 100
  margin 6px

.button__button
  border 0
  padding 15px 25px
  color buttons-text-color
  background buttons
  border-radius 5px
  text-decoration none
  font-size 1em
  height 49px
  box-shadow 0 2px 5px 0 rgba(0,0,0,.26)
  &:hover
    background-color #57b817
    box-shadow 0 4px 9px 0 rgba(0,0,0,.26)
  &:active
    background-color #489417
    box-shadow 0 1px 1px #003303

.button__icon
  //display none
  padding-left 5px

.button_icon .button__icon
  display inline-block
  width 40px
  height 25px
  background-size 25px
  margin -6px

.button_icon-cart .button__icon
  background url(../../images/basket.png) 0 no-repeat
  background-size 25px

.button_icon-plus .button__icon
  background url(../../images/icon_plus.png) 0 no-repeat
  background-size 25px

.button__title
  padding 0

.button_icon-only .button__icon
  padding 0

.button_new-order
  position fixed
  bottom 40px
  right 40px
  padding 15px 38px
  border-radius 60px
  font-size 2em
  z-index 10

.button_new-order .button__title
  position absolute
  bottom 3px
  right 22px

.button_not_active
  background buttons-non-active
  box-shadow 0 1px 1px #232323
  &:hover
    background-color buttons-non-active
    box-shadow 0 1px 1px #232323
  &:active
    background-color buttons-non-active
    box-shadow 0 1px 1px #232323

.button_size-s .button__button
    padding 5px 10px

.button_size-m
    padding 0 20px
    height 20
