@import '../../stylus/vars.styl'

.message
  width 70%
  //border-top 1px solid red
  //border-bottom 1px solid red
  display table-row
  margin-bottom 10px

.message__avatar img
  border-radius 50%
  width 40px

.message__avatar
  display table-cell
  vertical-align middle
  margin-right 20px

.message__name
  display table-cell
  vertical-align middle
  font-size 0.9em
  margin-right 20px

.message__content
  display table-cell
  vertical-align middle
  margin-right 20px

.message__text
  font-size 0.7em

.message__time
  display table-cell
  vertical-align middle
  font-size 0.7em


