@import '../../stylus/vars.styl'

.message
  width 100%
  //border-top 1px solid red
  margin-bottom 15px

.message__avatar img
  border-radius 50%
  width 40px
  margin 5px

.message__avatar
  display inline-block
  vertical-align middle
  margin-right 20px

.message__name
  display inline-block
  vertical-align middle
  font-size 0.9em
  margin-right 20px
  margin-bottom 10px

.message__content
  display inline-block
  vertical-align middle
  margin-right 20px
  width 80%

.message__text
  font-size 0.7em

.message__time
  display inline-block
  vertical-align middle
  font-size 0.7em

@media (max-width: 940px)
  .message__content
    width 70%
  .chat__input input
    width 60%

@media (max-width: 600px)
  .message__content
    width 60%

@media (max-width: 470px)
  .message__content
    width 50%
    margin-right 0

@media (max-width: 875px)
  .input_message
    width 80%

@media (max-width: 720px)
  .chat__input input
    width 60%
  .input_message
    width 100%
  .chat__input img
    display none
  .chat__history
    height 74%

@media (max-width: 610px)
  .chat__input input
    width 45%

@media (max-width: 460px)
  .chat__input input
    margin-top 5px
    width 80%
  .input_message
    margin-bottom 15px
  .input_message .button
    display block
