@import '../../stylus/vars.styl'

.message
  width 100%
  //border-top 1px solid red
  margin-bottom 15px

.message__avatar img
  border-radius 50%
  width 40px
  margin 5px

.message__avatar
  display inline-block
  vertical-align middle
  margin-right 20px

.message__name
  display inline-block
  vertical-align middle
  font-size 0.9em
  margin-right 20px
  margin-bottom 10px

.message__content
  display inline-block
  vertical-align middle
  margin-right 20px
  width 80%

.message__text
  font-size 0.7em

.message__time
  display inline-block
  vertical-align middle
  font-size 0.7em




