mixin auth(user)
    if user
        .auth
            a.auth__profile(href="/personal_area")
                img.auth__avatar(src=user.avatar)
            a.auth__logout(href="/logout")
                img.auth__exit(src="../images/head/exit.png")
    else
        .auth
            a.auth__social.auth__social_vk(href="/auth/vk")
            a.auth__social.auth__social_fb(href="/auth/fb")
