@import '../../stylus/vars.styl'

.auth
    position absolute
    top 10px
    right 20px
    color #fff

.auth__post
    margin-right 15px

.auth__avatar
    color #fff
    margin-right 10px
    border-radius 50%
    width 40px

.auth__exit
    width 40px

.auth__social
    display inline-block
    width 34px
    height 34px
    background-size 34px
    background-repeat no-repeat

.auth__logout
    text-decoration none
    font-weight normal
    color #fff
    position relative

.auth__social_vk
    background-image url(../images/head/authorisation/social_vk.png)
    padding-right 20px
    cursor pointer

.auth__social_fb
    background-image url(../images/head/authorisation/social_fb.png)
    cursor pointer

.auth__signIn
    font-family Ahellya
    cursor pointer
    position absolute
    top 10px
    color buttons
    right 30px
    font-size 1.2em

