@import '../../stylus/vars.styl'

.auth
    width 20%
    position absolute
    top 30px
    right 20px
    color #fff

.auth__post
    margin-right 15px

.auth__name
    display inline-block
    font-size 1em
    color #fff
    padding-right 10px

.auth__social
    display inline-block
    width 34px
    height 34px
    background-size 34px
    background-repeat no-repeat

.auth__logout
    text-decoration none
    font-weight normal
    color #fff

.auth__social_vk
    background-image url(../images/social_vk.png)
    padding-right 20px
    cursor pointer

.auth__social_fb
    background-image url(../images/social_fb.png)
    cursor pointer

//@media screen and (max-width:950px)
//    .auth
//        width 35%
//        position relative
//        padding-top 20px
//        margin 0 auto
//
//@media screen and (max-width:803px)
//    .auth
//        width 40%
//
//@media screen and (max-width:703px)
//    .auth
//        width 65%
//        padding-left 40px
//
//@media screen and (max-width:451px)
//    .auth
//        width 75%
//
//@media screen and (max-width:401px)
//    .auth
//        width 85%
