.chat
  width 100%
  min-height 100%
  //background-color rgba(0,0,0,0.5)
  overflow hidden
  position fixed
  top 0
  left 0
  //display none
  z-index 10
  margin 0
  padding 0

.chat__close
  width 50px
  height 50px
  background url(../../images/total/close.png) no-repeat
  background-size cover
  position absolute
  right 0
  &:active .chat__title
    display none

.chat__title
  background-color #e5e5e5
  width 100%
  height 20px
  //padding-left 52px
  padding-top 10px
  padding-bottom 10px

.title__user_name
  margin-left 40px
  margin-top 10px
  margin-bottom 10px
  color #151515

.chat__content
  margin 40px auto 0 auto
  background-color #fff
  border-radius 2px
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
  height 500px
  width 70%

.chat__history
  width 100%
  height 80%
  margin 0 auto
  padding-top 20px

.chat__input
  background-color #efefef
  height 55px

.chat__hr
  width 75%
  margin 0 auto

.chat__input input
  margin-left 10px
  margin-right 10px
  width 70%
  display inline-block
  vertical-align middle

.chat__input img
  border-radius 50%
  margin 5px
  display inline-block