@import '../../stylus/vars.styl'

.basket
  width 100%
  background #f5f5f5

.basket__title
  background-color header-basket
  text-align center
  padding 10px 0
  color #fff

.orders
  max-height 300px
  //display table
  width 100%
  overflow-y auto

  overflow-x hidden

.basket__allcost
  width 248px
  height 35px
  margin auto
  text-align center
  white-space normal

.basket__hr
  width 75%
  margin 0 auto

.basket__button
  margin auto
  width 147px
