include ../order/order

mixin basket(orders)
    .basket
        .orders
            each item in orders
                +order(item.title, item.price)
        hr.basket__hr
        .basket__allcost
            span.total_sum
        .basket__button
            +button("Заказать", [], {"href": "/basket"})
