include ../order/order

mixin basket(orders, whoCame)
    .basket
        .orders
            each order in orders
                +order(order.dish.title, order.dish.price, order.dish._id, order.count)
        .basket__allcost
            span.total_sum
        .basket__button
            if whoCame == 'owner'
                .offer-hide__title Введите время заказа:
                    form.offers-hide__blockOfLogic(action='/preAddOrder' method='POST')
                        input(type="datetime-local" name='time')
                        +button("Готово", [], {"type": "submit"})
            else
                .offers-hide__blockOfLogic
                    +button("Готово", [], {"href": "/basket"})
