include ../order/order

mixin basket(orders)
    .basket
        .orders
            each order in orders
                +order(order.dish.title, order.dish.price, order.dish._id, order.count)
        .basket__allcost
            span.total_sum
        .basket__button
            p.offer-hide__title Введите дату и время:
                .offers-hide__blockOfLogic
                    input.offers-hide__time-hrs(name="hours" type="date")
                    span.offers-hide__dtt
                    input.offers-hide__time-mnts(name="minutes" type="time")
                    +button("Готово", [], {"href": "/basket"})
