include ../order/order

mixin basket(orders)
    .basket
        .orders
            each item in orders
                +order(item.title, item.price)
        .basket__allcost
            span.total_sum
        .basket__button
            p.offer-hide__title Введите время:
                .offers-hide__blockOfLogic
                    input.offers-hide__time-hrs(name="hrs")
                    span.offers-hide__dtt :
                    input.offers-hide__time-mnts(name="mnts")
                    +button("Заказать", [], {"href": "/basket"})
