@import '../../stylus/vars.styl'

.eda
  width 100%
  border-bottom 1px solid #cdcdcd
  display table-row
  font-size 0.8em

.eda__name
  display table-cell
  width 65%
  vertical-align middle
  padding-bottom 10px
  padding-top 10px

.eda__cost
  display table-cell
  vertical-align middle
  padding-bottom 10px
  padding-top 10px

.eda__count
  display table-cell
  vertical-align middle
  padding-right 30px
  padding-bottom 10px
  padding-top 10px
