@import '../../stylus/vars.styl'

.eda
  width 100%
  border-bottom 1px solid #cdcdcd
  display table-row
  font-size 0.8em

.eda__name
  display table-cell
  width 59%
  vertical-align middle
  padding-bottom 10px
  padding-top 10px
  padding-left 10px

.eda__cost
  width 20%
  display table-cell
  vertical-align middle
  padding-bottom 10px
  padding-top 10px

.eda__count
  width 100px
  white-space nowrap
  display table-cell
  vertical-align middle
  padding-right 10px
  padding-left 10px
  padding-bottom 10px
  padding-top 10px
