@import "vars.styl"
@import "../blocks/**/**/*.styl"

@font-face
    font-family Andika
    src url(../fonts/andika.ttf)
@font-face
    font-family Ashley
    src url(../fonts/ashleycapitalisofia.ttf)

*
    margin 0
    padding 0

html, body
    font-family Andika
    background url(../images/background.jpg) no-repeat
    background-size 100% 100%
    overflow-x hidden

