mixin order(title, price, id, count)
    .order
        input.order__price(type='hidden' value=price)
        input.order__id(type='hidden' value=id)
        a.order__close
            i.order__icon.order__icon_close
        .order__info= title + ' (' + price + ' руб.)'
        a.order__less
            i.order__icon.order__icon_less
        .order__value= count
        a.order__more
            i.order__icon.order__icon_more
