mixin order(title, price, sum)
    .order
        a.order__close
            i.order__icon.order__icon_close
        .order__info= title
        .order__cost
            span.order__cost_val= price
            span  руб. *
        a.order__less
            i.order__icon.order__icon_less
        .order__value 1
        a.order__more
            i.order__icon.order__icon_more
        .order__cost_sum
            span.order__cost_val= sum
            span  руб.
