include ../button/button
include ../company/company
include ../subscriber/subscriber
include ../eda/eda

mixin session(order)
    .session
        .session__header
            .header_content
                img.header_content__avatar(src=order.owner.avatar)
                .info_owner
                    .info_owner__name= order.owner.name
                    .info_owner__time= order.creatingTime
                .control__chat(onclick="document.getElementById('chat').style.display='block'")
                    +button("Чат", [], {"type": "submit"})
                if user
                    if user._id + '' == order.owner._id + ''
                        img(src="../images/total/close.png" class="header_content__button" onclick="document.getElementById('session').style.display='none'")

        .session__main
            .main_content
                .main_content__dishes Подписчики
                    //each subscriber in order.subscriber
                +subscriber(order)
                +subscriber(order)
                +subscriber(order)
                +subscriber(order)
            .session__controls
                if user
                    .control
                        if user._id + '' == order.owner._id + ''
                            .control__order
                                form(action="/toOrder", method="post")
                                    +button("Заказать", [], {"type": "submit", "name": "action", "value": "menu"})
                        else
                            .control__order
                                form(action="/mymenu", method="post")
                                    input(type="hidden", name="orderId" value=order._id)
                                    +button("Присоединиться", [], {"type": "submit", "name": "action", "value": "menu"})

        if user
            .session__subscriber
                .subscriber__title
                    .title__title Моё меню
                    img(src="../images/menu.png" class="title__menu")
                    .subscriber__eda
                        each zakaz in order.orders
                            +eda(zakaz.dish.title, zakaz.count, zakaz.dish.price)
