mixin subscriber(subscriber)
    .subscriber
        img.subscriber__avatar(src=subscriber.person.avatar)
        .subscriber__person
            .subscriber__name= subscriber.person.name
                if (subscriber.paid)
                    .subscriber__paid (оплачено)
                else
                    .subscriber__paid (не оплачено)
            .subscriber__sum= subscriber.paymentSum + ' руб.'
