@import '../../stylus/vars.styl'

.main-wrapper
    width 100%
    position relative

.main-wrapper__carry
    width 90%
    margin 0 auto
    overflow hidden
    padding-top 30px

.category
    width 100%
    background-color #f5f5f5
    text-align center
    vertical-align center
    padding-top 5px
    padding-bottom 5px
    box-shadow 0 2px 4px 0 rgba(0,0,0,.15)

.sticky
    position fixed
    top: 0
    z-index: 101

.category span
    margin 10px
    white-space pre-wrap
    &:hover
       border-bottom 2px solid #427fed
    &:active
        border-bottom 2px solid #427fed
        font-weight bold