extends layout
include ../blocks/header/header
include ../blocks/button/button
include ../blocks/basket/basket
include ../blocks/order/order
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/footer/footer
include ../blocks/subscriber/subscriber
include ../blocks/message/message

include ../blocks/chat/chat
include ../blocks/signIn/signIn
include ../blocks/orderform/orderform

block title
    title Главная страница
block content
    if user
        +header(user)
        +button("+", ["button_new-order"],{'href': '/services/'})
    else
        +header()
    .main-wrapper
        .main-page
            -var orders2 = orders.splice(0,orders.length/2);
            .column
                each order in orders
                    +session(order)
            .column
                each order in orders2
                    +session(order)
        +footer('© M&B Corporation')

    +chat()
    +signIn()
    +orderform(orders)

    if user
        script.
            var mainUser = !{JSON.stringify(user)};
        script
            include scripts/chat.js
    script
        include scripts/signIn.js
        include scripts/removeSession.js
        include scripts/removeSubscriber.js
        include scripts/checkPaid.js

