head
    block title
    link(rel="stylesheet" href="/css/index.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js")
    block content
