extends layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/offers/offers
include ../blocks/footer/footer
include ../blocks/basket/basket

block title
    title Страница компании
block content
    +header(user)
    .category
        each category in categories
            a= category.title
                input(type='hidden' value=category.href)

    .main-wrapper
        .main-wrapper__company
            .main-wrapper__menu
                span.main-wrapper__title Что вы хотите съесть сегодня?
                each dish in dishes
                    form(name='dishForm' action="/orders", method="post").main-wrapper__menuitem
                        input(type="hidden", name="dishId" value=dish._id)
                        +menuitem(dish)
            #box.main-wrapper__cart(style="display: none;")
                span.main-wrapper__title Корзина
                +basket(orders, serviceId)
        .cart_menu(onclick="openBox('box')")
            +button("Корзина", [], {"type": "submit"})

        +button("Назад к сервисам", [],{'href': '/services?owner=True'})
        +footer("Заказывайте еду на нашей стороне, на темной стороне...")
        script
            include scripts/category.js
            include scripts/addDish.js
            include scripts/dishCountMore.js
            include scripts/dishCountLess.js
            include scripts/totalSum.js
            include scripts/openBox.js
            include scripts/removeDish.js
            include scripts/fixedCategory.js
