extends layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/offers/offers
include ../blocks/footer/footer
include ../blocks/basket/basket

block title
    title Страница компании
block content
    +header(user)
    #category.category
        each category in categories
            input(type='radio' value=category.href id=category._id name="category")
            label(for=category._id)= category.title

    .main-wrapper
        .main-wrapper__company
            .main-wrapper__menu
                span.main-wrapper__title Что вы хотите съесть сегодня?
                each dish in dishes
                    +menuitem(dish)
            .main-wrapper__cart
                span.main-wrapper__title_cart Корзина
                    img(src="../images/down.png")
                    .main-wrapper__title_info
                        span.main-wrapper__title_sum Общая стоимость: 0 руб.
                        span.main-wrapper__title_count Кол-во: 0
                #box.main-wrapper__basket(style="display: none;")

                    +basket(orders, whoCame)

        +footer('© M&B Corporation')

        script
            include scripts/category.js
            include scripts/addDish.js
            include scripts/dishCountMore.js
            include scripts/dishCountLess.js
            include scripts/updateSum.js
            include scripts/openBox.js
            include scripts/removeDish.js
            include scripts/fixedCategory.js
