extends layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/offers/offers
include ../blocks/footer/footer
include ../blocks/basket/basket
include ../blocks/personalArea/headerInfo/headerInfo
include ../blocks/personalArea/allInfo/allInfo

block title
    title Личный кабинет
block content
    +header(user)
    .main-wrapper
        +headerInfo(user)
        +allInfo(user)

    if user
        #edit.edit
            .edit__close(onclick="document.getElementById('edit').style.display='none'")
            .edit__content
                .edit__title Информация
                .edit__contact
                    input(type="text" value=user.name)
                    input(type="text" value="Телефон")
                    input(type="text" value="Улица")
                    input(type="text" value="Номер дома")
                    input(type="text" value="Корпус")
                    input(type="text" value="Квартира")
                .edit__input
                    +button("Сохранить", [], {"type": "submit"})



