extends layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/offers/offers
include ../blocks/footer/footer
include ../blocks/basket/basket
include ../blocks/personalArea/headerInfo/headerInfo
include ../blocks/personalArea/allInfo/allInfo

block title
    title Личный кабинет
block content
    if user
        +header(user)
        .main-wrapper
            +headerInfo(user)
            +allInfo(user)

