extends ../views/layout/layout
include ../blocks/button/button
include ../blocks/header/header
include ../blocks/session/session
include ../blocks/menuitem/menuitem
include ../blocks/group/group
include ../blocks/offers/offers
include ../blocks/sidebarmenu/sidebarmenu
include ../blocks/footer/footer

block title
    title Выбор места заказа
block content
    +header(user)
    .main-wrapper
        .main-wrapper__carry
            +sidebarmenu("Кухни")
            each service, ind in services
                +offers(service, "", ind)
                    form.offers-plugin(action="/services/"+service._id method="post")
                        +button("Сделать заказ", "offers-plugin__button", {"type": "submit"})
        +footer("Заказывайте еду на нашей стороне, на темной стороне...")
    script
        include ../blocks/sidebarmenu/sidebarmenu.js
