@import '../../../stylus/vars.styl'

.headerInfo
  background-color #404040
  width 70%
  margin 0 auto
  padding-bottom 10px

.headerInfo__name
  color #fff
  font-size 1.5em

.headerInfo__photo
  width 90px
  height 90px
  background url(../images/user.png) no-repeat
  background-size contain
  margin 0 auto