@import '../../stylus/vars.styl'

.main-wrapper__company
    width 90%
    min-height 100%
    margin 0 auto
    overflow hidden

.main-wrapper__menu
    width 90%
    background #f5f5f5
    float left
    margin-top 15px
    border-radius 2px
    overflow hidden
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    border-top 5px solid buttons

.main-wrapper__cart
    position fixed
    right 10px
    bottom 0
    width 335px
    background #f5f5f5
    float left
    margin-top 15px
    margin-left 30px
    border-radius 2px
    overflow hidden
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    border-top 5px solid buttons
    z-index 20

.main-wrapper__title_cart
    font-size 1.3em
    font-style normal
    font-variant normal
    font-weight 300
    font-stretch normal
    line-height normal
    font-family Andika
    width 100%
    padding 10px
    padding-left 20px
    display block
    background-color buttons
    color #fff
    cursor pointer

.main-wrapper__title_cart img
    position absolute
    top 8px
    right 6px
    width 30px
    vertical-align middle
    transform rotate(180deg)

.main-wrapper__title_info
    font-size 0.6em

span.main-wrapper__title_sum
    margin-right 10px

.main-wrapper__title
    font-size 1.3em
    font-style normal
    font-variant normal
    font-weight 300
    font-stretch normal
    line-height normal
    font-family Andika
    width 100%
    padding 10px
    padding-left 20px
    display block

.offers__down-text-mod
    width 60%

.cart_menu
    position fixed
    bottom 0
    right 20px

@media screen and (max-width: 950px)
    .main-wrapper__menu
        width 100%
        margin-left 0

@media screen and (max-width: 390px)
    .main-wrapper__cart
        width 90%


