mixin allInfo(user)
    .allInfo
        .allInfo__title
            .info-title Информация
        .allInfo__content
            .info-content
                .info-content__phone
                    .phone
                        .phone__title Телефон
                        input(type="text" class="phone__number" autocomplete='off' style="color: #777;" value="Телефон" onfocus="if (this.value == 'Телефон') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Телефон'; this.style.color = '#777';}")
                    hr.info__hr
                    .phone
                        .phone__title Оператор
                        input(type="text" class="phone__operator" autocomplete='off' style="color: #777;" value="Оператор" onfocus="if (this.value == 'Оператор') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Оператор'; this.style.color = '#777';}")
                    hr.info__hr
                    .adress
                        .adress__title Улица
                        input(type="text" class="adress__adress" autocomplete='off' style="color: #777;" value="Улица" onfocus="if (this.value == 'Улица') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Улица'; this.style.color = '#777';}")
                    hr.info__hr
                    .adress
                        .adress__title Дом
                        input(type="text" class="adress__adress" autocomplete='off' style="color: #777;" value="Дом" onfocus="if (this.value == 'Дом') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Дом'; this.style.color = '#777';}")
                    hr.info__hr
                    .adress
                        .adress__title Корпус
                        input(type="text" class="adress__adress" autocomplete='off' style="color: #777;" value="Корпус" onfocus="if (this.value == 'Корпус') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Корпус'; this.style.color = '#777';}")
                    hr.info__hr
                    .adress
                        .adress__title Квартира
                        input(type="text" class="adress__adress" autocomplete='off' style="color: #777;" value="Квартира" onfocus="if (this.value == 'Квартира') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Квартира'; this.style.color = '#777';}")
                    hr.info__hr

        .allInfo__change
            +button("Сохранить", ['button_size-m'], {"type": "submit"})

    script
        include ../../../pages/scripts/changeProfile.js

