@import '../../../stylus/vars.styl'

.allInfo
  background-color #f5f5f5
  width 50%
  margin 0 auto
  margin-top 20px
  border-top 5px solid buttons
  padding-bottom 1px

.allInfo__title
  padding 17px 20px 15px

.info-title
  font-size 1.5em
  font-style normal
  font-variant normal
  font-weight 300
  font-stretch normal
  line-height normal
  font-family Ahellya

.info-content__phone
  margin-bottom 10px

.field
  display table-row
  margin 10px

.phone__title
  display table-cell
  font-weight bold
  padding-right 26px
  padding-bottom 10px
  width 80%

.phone__number
  display table-cell

.phone__operator
  display table-cell

.adress__title
  display table-cell
  font-weight bold
  padding-right 26px
  padding-bottom 10px
  width 80%

.adress__adress
  display table-cell
  white-space nowrap

.info-content
  display table
  margin-left 20px
  margin-right 20px
  width 95%

.allInfo__change
  color #427fed
  text-align center
  margin-bottom 20px
  margin-top 20px

.allInfo__change a
  cursor pointer

.field input[type="text"]
  border 0 solid #fff
  outline none
  font-size 0.9em
  width auto
  margin-right 10px
  background-color #f5f5f5

@media screen and (max-width: 1200px)
  .phone__title
    width 75%

  .adress__title
    width 75%

@media screen and (max-width: 977px)
  .phone__title
    width 70%

  .adress__title
    width 70%

@media screen and (max-width: 810px)
  .info-content
    margin-left 3px
    margin-right 0

@media screen and (max-width: 385px)
  .allInfo
    overflow-x scroll

@media screen and (max-width: 580px)
  .allInfo
    width 70%

  .phone__number
    display inline-block

  .phone__operator
    display inline-block

  .adress
    display inline-block

  .adress__title
    display inline-block

  .adress__adress
    display inline-block

  .phone
    display inline-block
