mixin allInfo(user)
    .allInfo
        .allInfo__title
            .info-title Информация
        .allInfo__content
            .info-content
                .info-content__phone
                    .phone
                        .phone__title Телефон
                        .phone__number +375(29)9789355
                        .phone__operator Vel.
                .info-content__adress
                    .adress
                        .adress__title Адрес
                        .adress__adress ул. Я. Коласа, д. 28




