mixin allInfo(user)
    .allInfo
        .allInfo__title
            .info-title Информация
        .allInfo__content
            .info-content
                .info-content__phone
                    .phone
                        .phone__title Телефон
                        input(type="text" name='phone' class="phone__number" autocomplete='off' style="color: #777;" value=user.phone || 'Телефон' onfocus="if (this.value == 'Телефон') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Телефон'; this.style.color = '#777';}")
                    hr.info__hr
                    .field
                        .adress__title Улица
                        input(type="text" name='street' class="adress__adress" autocomplete='off' style="color: #777;" value=user.street || 'Улица' onfocus="if (this.value == 'Улица') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Улица'; this.style.color = '#777';}")
                    hr.info__hr
                    .field
                        .adress__title Дом
                        input(type="text" name='home' class="adress__adress" autocomplete='off' style="color: #777;" value=user.home || 'Дом' onfocus="if (this.value == 'Дом') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Дом'; this.style.color = '#777';}")
                    hr.info__hr
                    .field
                        .adress__title Корпус
                        input(type="text" name='building' class="adress__adress" autocomplete='off' style="color: #777;" value=user.building || 'Корпус' onfocus="if (this.value == 'Корпус') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Корпус'; this.style.color = '#777';}")
                    hr.info__hr
                    .field
                        .adress__title Квартира
                        input(type="text" name='apartment' class="adress__adress" autocomplete='off' style="color: #777;" value= user.apartment || 'Квартира' onfocus="if (this.value == 'Квартира') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Квартира'; this.style.color = '#777';}")
                    hr.info__hr

        .allInfo__change
            +button("Сохранить", ['button_size-m'], {"type": "submit"})
