.signIn
  width 100%
  min-height 100%
  background-color rgba(255,255,255,0.95)
  overflow hidden
  position fixed
  top 0
  left 0
  display none
  z-index 10
  margin 0
  padding 0

.signIn__close img
  width 40px
  height 40px
  display inline-block
  vertical-align middle
  cursor pointer

.signIn__close
  //background url(../../images/total/close.png) no-repeat
  //background-size cover
  float right
  display inline-block
  &:active .signIn__title
    display none

.signIn__title
  background-color #e5e5e5
  width 100%
  height 35px
  padding-bottom 10px
  vertical-align middle

.title__user_name
  margin-left 20px
  margin-top 10px
  margin-bottom 10px
  color #151515
  display inline-block

.signIn__content
  margin 120px auto 0 auto
  background-color #fff
  border-radius 2px
  box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  height 380px
  width 30%

.signIn__history
  padding-top 20px

.signIn__input
  background-color #efefef

.input_message
  width 90%
  display inline-block
  vertical-align middle
  margin-bottom 40px

.signIn__hr
  width 75%
  margin 0 auto

.signIn__input input
  margin-left 10px
  margin-right 10px
  width 70%
  display inline-block
  vertical-align middle

.signIn__input img
  border-radius 50%
  margin 5px
  display inline-block
  width 50px

input.form-control
  border 0 solid #fff
  outline none
  background #efefef

.signIn__name
  width 100%
  margin-top 10px
  margin-bottom 10px
  text-align center

.signIn__input
  height 25px

.signIn__surname
  width 100%
  text-align center
  margin-top 20px
  margin-bottom 10px

.signIn__button
  text-align center
  margin-top 20px
  margin-bottom 10px

.history__input
  text-align center
  margin-top 20px
  margin-bottom 10px

.signIn__or
  text-align center

.signIn__login
  text-align center

.signIn__login span
  vertical-align middle

.login__sites
  margin 5px

@media (max-width: 875px)
  .signIn__input input
    width 35%

@media (max-width: 870px)
  .signIn__content
    width 50%

@media (max-width: 540px)
  .signIn__content
    width 80%

